<header class="text-gray-600 body-font">
  <div
    class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center"
  >
    <a
      class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0"
      routerLink="home"
    >
      <object class="w-8" data="/assets/icons/royal.svg" type="image/svg+xml">
        <img src="/assets/icons/royal.svg" />
      </object>

      <span class="ml-3 text-xl">ROYAL CARE</span>
    </a>
    <nav
      class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400 flex flex-wrap items-center text-base justify-center uppercase"
    >
      <a class="mr-5 hover:text-gray-900" routerLink="dashboard">Dashboard</a>
      <a class="mr-5 hover:text-gray-900" routerLink="hostel-details"
        >Rooms & Fees</a
      >
      <a class="mr-5 hover:text-gray-900" routerLink="contact">Contact Us</a>
    </nav>
    <button
      class="inline-flex text-white items-center bg-[#525252] border-0 py-2 px-3 focus:outline-none hover:bg-[#383838] text-base mt-4 md:mt-0"
    >
      Get Started
      <svg
        fill="none"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        class="w-4 h-4 ml-1"
        viewBox="0 0 24 24"
      >
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </button>
  </div>
</header>
