<section class="text-gray-600 body-font overflow-hidden">
  <div class="container px-5 py-24 mx-auto">
    <div class="lg:w-4/5 mx-auto flex flex-wrap">
      <img
        alt="sandals"
        class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded"
        src="/assets/images/sandals.jpg"
      />
      <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
        <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">
          Welcome to ROYAL CARE Hotel
        </h1>
        <hr />
        <hr />
        <p class="leading-relaxed">
          We are located at Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Explicabo quis, eos nam minus aliquid nobis temporibus suscipit
          hic, sunt aut nostrum eum. Asperiores fugit laborum libero, dolor
          necessitatibus amet ad exercitationem nemo perferendis reiciendis.
        </p>

        <ul
          class="space-y-1 max-w-xs list-none list-inside text-gray-500 dark:text-gray-400"
        >
          <li><a href="">Deluxe Room</a></li>
          <li>At least one lowercase character</li>
          <li>Inclusi @ # ?</li>
        </ul>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur,
          vel aliquam deserunt sit sint et vero quas quae sed doloribus ut eaque
          asperiores.
        </p>
      </div>
    </div>
  </div>
</section>