<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1
        class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"
      >
        Female Rooms
      </h1>
    </div>
    <div class="flex flex-wrap justify-center -m-4">
      <div class="lg:w-1/4 sm:w-1/2 p-4">
        <a class="block" href="">
          <img
            class="object-cover w-full h-96"
            src="/assets/images/girls_room_1.jpg"
            alt=""
          />

          <h5 class="mt-4 text-xl font-bold text-gray-900">Super Delux Room</h5>
          <span>(one person room)</span>
          <hr />

          <p class="max-w-sm mt-2 text-gray-700">~including food</p>
        </a>
      </div>
      <div class="lg:w-1/4 sm:w-1/2 p-4">
        <a class="block" href="">
          <img
            class="object-cover w-full h-96"
            src="/assets/images/girls_room_2.jpg"
            alt=""
          />

          <h5 class="mt-4 text-xl font-bold text-gray-900">Delux Room</h5>
          <span>(two person room)</span>
          <p class="max-w-sm mt-2 text-gray-700">~including food</p>
        </a>
      </div>
      <div class="lg:w-1/4 sm:w-1/2 p-4">
        <a class="block" href="">
          <img
            class="object-cover w-full h-96"
            src="/assets/images/girls_room_3.jpg"
            alt=""
          />

          <h5 class="mt-4 text-xl font-bold text-gray-900">Standard Room</h5>
          <span>(three person room)</span>
          <p class="max-w-sm mt-2 text-gray-700">~including food</p>
        </a>
      </div>
    </div>
  </div>

  <!-- Male rooms -->
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1
        class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900"
      >
        Male Rooms
      </h1>
    </div>
    <div class="flex flex-wrap justify-center -m-4">
      <div class="lg:w-1/4 sm:w-1/2 p-4">
        <a class="block" href="">
          <img
            class="object-cover w-full h-96"
            src="/assets/images/boys_room_2.jpg"
            alt=""
          />

          <h5 class="mt-4 text-xl font-bold text-gray-900">Super Delux Room</h5>
          <span>(one peson room)</span>
          <p class="max-w-sm mt-2 text-gray-700">~including food</p>
        </a>
      </div>
      <div class="lg:w-1/4 sm:w-1/2 p-4">
        <a class="block" href="">
          <img
            class="object-cover w-full h-96"
            src="/assets/images/boys_room_3.jpg"
            alt=""
          />

          <h5 class="mt-4 text-xl font-bold text-gray-900">Super Delux Room</h5>
          <span>(one peson room)</span>
          <p class="max-w-sm mt-2 text-gray-700">~including food</p>
        </a>
      </div>
      <div class="lg:w-1/4 sm:w-1/2 p-4">
        <a class="block" href="">
          <img
            class="object-cover w-full h-96"
            src="/assets/images/boys_room_1.jpg"
            alt=""
          />

          <h5 class="mt-4 text-xl font-bold text-gray-900">Super Delux Room</h5>
          <span>(one peson room)</span>
          <p class="max-w-sm mt-2 text-gray-700">~including food</p>
        </a>
      </div>
    </div>
  </div>
</section>
